*{padding: 0; margin: 0;}

.navbar{
    height: 15%;
}
.logo{
    margin-top: 25px;
    width: 20%
}
ul{
    padding: 25px;
    
}
.list{
    margin-left : 390px;
    margin-top : -75px
}
li{
    font-size: 20px;
}
body{
    background-color: tomato

}
h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
}
.img-section{
    padding-top: 3cm
}
.imgs{
    margin: 0;
    padding:0;
    
    width: 100% ;
    
    
}
img{
    width: 286px;
    height: 300px;
    box-shadow: 2px 2px rgb(102, 102, 102)		

    
    
}
.card{
   margin: 2cm;
   
}
p{
    font-weight: bold;
    font-size: 20px
}
.box{
    background-color: rgb(235, 153, 128)
    ;
    width: 31cm;
    height: 8cm;
    margin-bottom: 50px 
}
.box1{
    background-color: rgb(235, 153, 128)
    ;
    width: 31cm;
    height: 8cm;
    margin-bottom: 50px 
}
.box2{
    background-color: rgb(235, 153, 128)
    ;
    width: 31cm;
    height: 8cm;
    margin-bottom: 50px 
}
.text{
    margin-left: 9cm;
    padding-top: 2cm;
    
}
#img1{
   margin-top: -5.5cm;
   height: 250px;
   
}
.actors{
    
    
    margin-left: 2cm; 
}
.theImg{
    margin-top:2cm; 
}
.details{
    margin-top: -7cm;
    margin-left: 16cm;
}
.selectedImg{
    margin-left: 6cm;
}